<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
  <p>&nbsp;</p>
  <h2><em>SOON TO BE ANNOUNCED!</em></h2>
  
  <hr />
  
  <h1 id="tos" style="text-align: left;">Welcome to edx @ Seneca; Seneca's Online Learning Environment</h1>
  
  <p>Keep checking back as we update this page with our Terms of Service</p>

  <p><strong>Last updated: August 21, 2014</strong></p>
  <p>&nbsp;</p>
</section>
