<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Seneca's Academic Policy</title></%block>

<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
  <p>&nbsp;</p>
  <h2><em>WHAT TO KNOW!</em></h2>
  
  <hr />
  
  <h1 id="tos" style="text-align: left;">Welcome to edx @ Seneca; Seneca's Online Learning Environment</h1>
  
  <p>Seneca College offers a fully detailed index of its Academic Policy for the current year at: <a href="http://www.senecacollege.ca/academic-policy/" target="_blank">Read More</a></p>

  <p><strong>Last updated: August 21, 2014</strong></p>
  <p>&nbsp;</p>
</section>
